@model Ecommerce01.Models.City

@{
    ViewBag.Title = "Eliminazione";
}

<h2>Eliminazione</h2>

@*<h3>Are you sure you want to delete this?</h3>*@
<h3>Sei sicuro di vole eliminare questa Città?</h3>
<div>
    <h4>Città</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departament.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departament.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-danger" /> |
            @Html.ActionLink("Ritorna alla Lista", "Index", new { }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
