@model Ecommerce01.Models.City

@{
    ViewBag.Title = "Elimina";
}

<h2>Elimina</h2>

<h3>Sei sicuro di volere eliminare questo registro?</h3>
<div>
    <h4>Città</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Ritorna alla Lista", "Index", new { }, new { @class = "btn btn-success" })
            <input type="submit" value="Elimina" class="btn btn-primary" /> |
        </div>
    }
</div>
