@model IEnumerable<Ecommerce01.Models.City>

@{
    ViewBag.Title = "Città";
}

<h2>Città</h2>

<p>
    @Html.ActionLink("Creare Nuova", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departament.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departament.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edita", "Edit", new { id=item.CityId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Dettagli", "Details", new { id=item.CityId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Elimina", "Delete", new { id=item.CityId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
