@model IEnumerable<Ecommerce01.Models.Departament>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitud)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartamentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartamentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepartamentId })
        </td>
    </tr>
}

</table>
