@model IEnumerable<Ecommerce01.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Aziende</h2>

<p>
   @Html.ActionLink("Crea Nuova", "Create", new { }, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Locality)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Province.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departament.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressO)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AddressL)
        </th>*@
       
        <th>
            @Html.DisplayNameFor(model => model.PartitaIva)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PhoneMobil)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.http)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Locality)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Province.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departament.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressO)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AddressL)
        </td>*@
        
        <td>
            @Html.DisplayFor(modelItem => item.PartitaIva)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CodiceFiscale)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PhoneMobil)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.http)
        </td>*@
        

        @*<td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>*@
        <td>
            @if (!string.IsNullOrEmpty(item.Logo))
                {
                <img src="@Url.Content(item.Logo)" alt="Image" style="width:400px;height:400px;max-width: 100%; height: auto;" />
            }
        </td>
    </tr>
    <tr>
        <td colspan="5">
            @Html.ActionLink("Modifica", "Edit", new { id = item.CompanyId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Altri Dettagli", "Details", new { id = item.CompanyId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Elimina", "Delete", new { id = item.CompanyId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>
